In [1]:
import pandas as pd
import numpy as np
import geopandas as gpd
import os

In [2]:
#from visualization import time_recovered, time_deaths, time_confirmed, data
cwd=os.getcwd()
data_dir=data_dir=os.path.join("/home/Github/COVID-19_Interactive/","COVID-19/csse_covid_19_data/csse_covid_19_daily_reports/")
all_files=[]
print(data_dir)
for d in os.listdir(data_dir):
    if not d.strip().endswith(".csv"): continue
    all_files.append(d)

all_files = sorted(all_files)
data=pd.read_csv(os.path.join(data_dir,all_files[-1]))
data.head()

/home/Github/COVID-19_Interactive/COVID-19/csse_covid_19_data/csse_covid_19_daily_reports/

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
0,45001.0,Abbeville,South Carolina,US,2020-03-30 22:52:45,34.223334,-82.461707,3,0,0,0,"Abbeville, South Carolina, US"
1,22001.0,Acadia,Louisiana,US,2020-03-30 22:52:45,30.295065,-92.414197,11,1,0,0,"Acadia, Louisiana, US"
2,51001.0,Accomack,Virginia,US,2020-03-30 22:52:45,37.767072,-75.632346,6,0,0,0,"Accomack, Virginia, US"
3,16001.0,Ada,Idaho,US,2020-03-30 22:52:45,43.452658,-116.241552,113,2,0,0,"Ada, Idaho, US"
4,19001.0,Adair,Iowa,US,2020-03-30 22:52:45,41.330756,-94.471059,1,0,0,0,"Adair, Iowa, US"

In [3]:
data['Last_Update']=pd.to_datetime(data['Last_Update'])
data['Last_Update']

0      2020-03-30 22:52:45
1      2020-03-30 22:52:45
2      2020-03-30 22:52:45
3      2020-03-30 22:52:45
4      2020-03-30 22:52:45
               ...
3434   2020-03-30 22:52:33
3435   2020-03-30 22:52:33
3436   2020-03-30 22:52:33
3437   2020-03-30 22:52:33
3438   2020-03-30 22:52:33
Name: Last_Update, Length: 3439, dtype: datetime64[ns]

In [4]:
data.isnull().sum()

FIPS              291
Admin2            261
Province_State    174
Country_Region      0
Last_Update         0
Lat                 0
Long_               0
Confirmed           0
Deaths              0
Recovered           0
Active              0
Combined_Key        0
dtype: int64

In [16]:
data_dir=data_dir=os.path.join("/home/Github/COVID-19_Interactive/","COVID-19/csse_covid_19_data/csse_covid_19_time_series/")
file_list=[]

for file in os.listdir(data_dir):
    if not d.strip().endswith(".csv"): continue
    file_list.append(file)


confirmed=pd.read_csv(os.path.join(data_dir,file_list[3]))
confirmed.isnull().sum()

UID        0
iso2       0
iso3       0
code3      0
FIPS       6
          ..
3/25/20    0
3/26/20    0
3/27/20    0
3/28/20    0
3/29/20    0
Length: 78, dtype: int64

In [21]:
deaths=pd.read_csv(os.path.join(data_dir,file_list[1]))
deaths.columns

Index(['UID', 'iso2', 'iso3', 'code3', 'FIPS', 'Admin2', 'Province_State',
       'Country_Region', 'Lat', 'Long_', 'Combined_Key', '1/22/20', '1/23/20',
       '1/24/20', '1/25/20', '1/26/20', '1/27/20', '1/28/20', '1/29/20',
       '1/30/20', '1/31/20', '2/1/20', '2/2/20', '2/3/20', '2/4/20', '2/5/20',
       '2/6/20', '2/7/20', '2/8/20', '2/9/20', '2/10/20', '2/11/20', '2/12/20',
       '2/13/20', '2/14/20', '2/15/20', '2/16/20', '2/17/20', '2/18/20',
       '2/19/20', '2/20/20', '2/21/20', '2/22/20', '2/23/20', '2/24/20',
       '2/25/20', '2/26/20', '2/27/20', '2/28/20', '2/29/20', '3/1/20',
       '3/2/20', '3/3/20', '3/4/20', '3/5/20', '3/6/20', '3/7/20', '3/8/20',
       '3/9/20', '3/10/20', '3/11/20', '3/12/20', '3/13/20', '3/14/20',
       '3/15/20', '3/16/20', '3/17/20', '3/18/20', '3/19/20', '3/20/20',
       '3/21/20', '3/23/20', '3/24/20', '3/25/20', '3/26/20', '3/27/20',
       '3/28/20', '3/29/20'],
      dtype='object')

In [17]:
confirmed.head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,3/19/20,3/20/20,3/21/20,3/23/20,3/24/20,3/25/20,3/26/20,3/27/20,3/28/20,3/29/20
0,84000001,US,USA,840,1.0,Unassigned,Alabama,US,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
1,84000002,US,USA,840,2.0,Unassigned,Alaska,US,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
2,84000004,US,USA,840,4.0,Unassigned,Arizona,US,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
3,84000005,US,USA,840,5.0,Unassigned,Arkansas,US,NaN,NaN,...,58,96,118,3,13,20,24,35,32,31
4,84000006,US,USA,840,6.0,Unassigned,California,US,NaN,NaN,...,0,0,0,0,0,0,0,12,0,0

In [18]:
confirmed.columns

Index(['UID', 'iso2', 'iso3', 'code3', 'FIPS', 'Admin2', 'Province_State',
       'Country_Region', 'Lat', 'Long_', 'Combined_Key', '1/22/20', '1/23/20',
       '1/24/20', '1/25/20', '1/26/20', '1/27/20', '1/28/20', '1/29/20',
       '1/30/20', '1/31/20', '2/1/20', '2/2/20', '2/3/20', '2/4/20', '2/5/20',
       '2/6/20', '2/7/20', '2/8/20', '2/9/20', '2/10/20', '2/11/20', '2/12/20',
       '2/13/20', '2/14/20', '2/15/20', '2/16/20', '2/17/20', '2/18/20',
       '2/19/20', '2/20/20', '2/21/20', '2/22/20', '2/23/20', '2/24/20',
       '2/25/20', '2/26/20', '2/27/20', '2/28/20', '2/29/20', '3/1/20',
       '3/2/20', '3/3/20', '3/4/20', '3/5/20', '3/6/20', '3/7/20', '3/8/20',
       '3/9/20', '3/10/20', '3/11/20', '3/12/20', '3/13/20', '3/14/20',
       '3/15/20', '3/16/20', '3/17/20', '3/18/20', '3/19/20', '3/20/20',
       '3/21/20', '3/23/20', '3/24/20', '3/25/20', '3/26/20', '3/27/20',
       '3/28/20', '3/29/20'],
      dtype='object')

In [15]:
#confirmed['1/22/20']=pd.to_datetime(confirmed["1/22/20"])
pd.to_datetime(confirmed.columns[11:])

DatetimeIndex(['2020-01-22', '2020-01-23', '2020-01-24', '2020-01-25',
               '2020-01-26', '2020-01-27', '2020-01-28', '2020-01-29',
               '2020-01-30', '2020-01-31', '2020-02-01', '2020-02-02',
               '2020-02-03', '2020-02-04', '2020-02-05', '2020-02-06',
               '2020-02-07', '2020-02-08', '2020-02-09', '2020-02-10',
               '2020-02-11', '2020-02-12', '2020-02-13', '2020-02-14',
               '2020-02-15', '2020-02-16', '2020-02-17', '2020-02-18',
               '2020-02-19', '2020-02-20', '2020-02-21', '2020-02-22',
               '2020-02-23', '2020-02-24', '2020-02-25', '2020-02-26',
               '2020-02-27', '2020-02-28', '2020-02-29', '2020-03-01',
               '2020-03-02', '2020-03-03', '2020-03-04', '2020-03-05',
               '2020-03-06', '2020-03-07', '2020-03-08', '2020-03-09',
               '2020-03-10', '2020-03-11', '2020-03-12', '2020-03-13',
               '2020-03-14', '2020-03-15', '2020-03-16', '2020-03-17',
               '2020-03-18', '2020-03-19', '2020-03-20', '2020-03-21',
               '2020-03-23', '2020-03-24', '2020-03-25', '2020-03-26',
               '2020-03-27', '2020-03-28', '2020-03-29'],
              dtype='datetime64[ns]', freq=None)

In [ ]:
data.rename({'Last Update': 'Date'}, axis=1, inplace=True)
data['Date']=pd.to_datetime(data['Date'])
data.head()

In [ ]:
lat=data['Latitude'].tolist()
long=data['Longitude'].tolist()

In [ ]:
time_recovered.head()

In [ ]:
location=[]
for idx in data.index:
    loc=data.iloc[idx]['Latitude'],data.iloc[idx]['Longitude']
    location.append(loc)

In [ ]:
location_series=pd.Series(location)
data['Location'] = location_series

In [ ]:
data.head()

In [ ]:
from elasticsearch import Elasticsearch
from elasticsearch.helpers import bulk
from IPython.display import Image

In [24]:
loc_dir=os.path.join(os.path.dirname(os.getcwd()),"COVID-19/all_countries.csv")
loc_df=pd.read_csv(loc_dir)
#loc_df=loc_df.fillna("Other")
loc_df.head()

,name,alpha-2,alpha-3,country-code,iso_3166-2,region,sub-region,intermediate-region,region-code,sub-region-code,intermediate-region-code
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,NaN,142.0,34.0,NaN
1,Åland Islands,AX,ALA,248,ISO 3166-2:AX,Europe,Northern Europe,NaN,150.0,154.0,NaN
2,Albania,AL,ALB,8,ISO 3166-2:AL,Europe,Southern Europe,NaN,150.0,39.0,NaN
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Africa,Northern Africa,NaN,2.0,15.0,NaN
4,American Samoa,AS,ASM,16,ISO 3166-2:AS,Oceania,Polynesia,NaN,9.0,61.0,NaN

In [27]:
loc_columns=loc_df.columns.tolist()
loc_cols=['name','alpha-2','alpha-3','country-code','iso_3166-2','region','sub-region']
###region_code','sub-region-code']

In [28]:
loc_df[loc_cols]

,name,alpha-2,alpha-3,country-code,iso_3166-2,region,sub-region
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia
1,Åland Islands,AX,ALA,248,ISO 3166-2:AX,Europe,Northern Europe
2,Albania,AL,ALB,8,ISO 3166-2:AL,Europe,Southern Europe
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Africa,Northern Africa
4,American Samoa,AS,ASM,16,ISO 3166-2:AS,Oceania,Polynesia
...,...,...,...,...,...,...,...
244,Wallis and Futuna,WF,WLF,876,ISO 3166-2:WF,Oceania,Polynesia
245,Western Sahara,EH,ESH,732,ISO 3166-2:EH,Africa,Northern Africa
246,Yemen,YE,YEM,887,ISO 3166-2:YE,Asia,Western Asia
247,Zambia,ZM,ZMB,894,ISO 3166-2:ZM,Africa,Sub-Saharan Africa
248,Zimbabwe,ZW,ZWE,716,ISO 3166-2:ZW,Africa,Sub-Saharan Africa

In [ ]:
loc_df['region-code'].isnull().sum()

### Join location to all DFs

In [ ]:
merge_loc=[]
for d in [time_recovered, time_deaths, time_confirmed, data]:
    d=d.merge(loc_df, left_on='Country/Region', right_on='name')
    merge_loc.append(d)
time_recovered, time_deaths, time_confirmed, data=merge_loc[0], merge_loc[1], merge_loc[2], merge_loc[3]

In [ ]:
data.head()

### Dig Now/Relenthless Later drop for now NaN values

In [ ]:
time_recovered=time_recovered.fillna("Other") 
time_deaths=time_deaths.fillna("Other") 
time_confirmed=time_confirmed.fillna("Other")
data=data.fillna("Other")

In [ ]:
column=time_deaths.columns

In [ ]:
#time_recovered=time_recovered.groupby('Country/Region')[column[15:]].sum()
#time_deaths=time_deaths.groupby('Country/Region')[column[15:]].sum()
#time_confirmed=time_confirmed.groupby('Country/Region')[column[15:]].sum()

In [ ]:
data.head()

In [ ]:
loc_list=[]
for idx in data.index:
    loc_obj={
      "text": "Geo-point as an object",
      "location": { 
        "lat": data.iloc[idx]['Latitude'],
        "lon": data.iloc[idx]['Longitude']
      }
    }
    loc_list.append(loc_obj)
df_loc=pd.DataFrame(loc_list)
data=pd.merge(data, df_loc, left_index=True, right_index=True)

In [ ]:
'''
def import_to_elastic(df,t):
    
    idx='covid'+'_'+t
    doc_t=t+"_cases"
    
    es = Elasticsearch(["127.0.0.1:9200"])
    es.indices.delete(index=idx,ignore=404)  #if index exist delete it, or ignore error messages, 404=index not found
    docs = df.to_dict(orient='records')       #from dataset create a serialize object for import 
    bulk(es, docs, index=idx,doc_type=doc_t, raise_on_error=True) #bulk import
    es.indices.refresh() #get import status
    
    return(es)

df_list=[time_recovered,time_deaths,time_confirmed,data]
title=['recovered','deaths','confirmed','data']

for d,t in zip(df_list, title):
    import_to_elastic(d,t)
'''

In [ ]:
data.head()

In [ ]:
data.isnull().any()

In [ ]:
#gdf = gpd.GeoDataFrame(data, geometry=gpd.points_from_xy(data.Longitude, data.Latitude))
#gdf

In [ ]:
es = Elasticsearch(["127.0.0.1:9200"])
es.indices.delete(index='geotest',ignore=404)  #if index exist delete it, or ignore error messages, 404=index not found
docs = data.to_dict(orient='records')       #from dataset create a serialize object for import 
bulk(es, docs, index='geotest',doc_type='geo_data', raise_on_error=True) #bulk import
es.indices.refresh() #get import status

print(es)